  <div class="container-fluid d-flex justify-content-center my-4">
    <form action="#" method="GET" class="d-flex" role="search">
            <select class="form-select my-input mx-2 parameter" style="width: fit-content;" aria-label="admin search" name="parameter" id="parameter">
                <option selected>Search by</option>
                <option value="name">Name</option>
            </select>
            <input class="form-control me-2 my-input" name="query" style="width: 30vw;" type="search" placeholder="" aria-label="Search"/>
      <button class="btn my-btn"  type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
  </div>