{% extends "base.html" %}
{% block title %}Spot #{{spot.spot_id}}{% endblock %}
{% block content %}
<div class="container my-5 my-container">
<h1 class="display-6 my-display my-4">Spot #{{spot.spot_id}}</h1>
<form class="row g-3">
  <div class="col-12">
    <label for="spot_id" class="form-label my-label">Spot ID</label>
    <input type="text" class="form-control my-input" value="{{spot.spot_id}}" id="spot_id" readonly>
  </div>
  <div class="col-12">
    <label for="lot_id" class="form-label my-label">Lot ID</label>
    <input type="text" class="form-control my-input" id="lot_id" value="{{spot.lot_id}}" readonly>
  </div>
  <div class="col-12">
    <label for="status" class="form-label my-label">Status</label>
    <input type="text" class="form-control my-input" id="status" value="{{spot.status}}" readonly>
  </div>
  {% if reservation %}
  <div class="col-12">
    <label for="usr_occupied" class="form-label my-label">Occupied User ID</label>
    <input type="text" class="form-control my-input" id="usr_occupied" value="{{reservation.user_id}}" readonly>
  </div>
  <div class="col-12">
    <label for="vno" class="form-label my-label">Vehicle Number</label>
    <input type="text" class="form-control my-input" id="vno" value="{{reservation.vehicle_num}}" readonly>
  </div>
  {% endif %}
 
  <div class="col-12">
    <a href="{{url_for('admin')}}" class="btn my-btn">Close</a>
  </div>
</form>
</div>

{% endblock %}

