{% extends "base.html" %}
{% block title %}View Users{% endblock %}
{% block content %}

{% include "admin/admin_nav.html" with context %}
<div class="container my-5
">
<h1 class="display-6 my-display my-4">List of Users</h1>
 {% include "admin/admin_search.html" with context %}
<table class="table my-table table-hover">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td scope="row">{{user.user_id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}