{% extends "base.html" %}
{% block title %}Book Spot{% endblock %}
{% block content %}
<div class="container my-5 my-container">
<h1 class="display-6 my-display my-4">Book Parking Spot</h1>
<form class="row g-3" method="POST">
  <div class="col-12">
    <label for="spot_id" class="form-label my-label">Spot ID</label>
    <input type="text" class="form-control my-input" id="spot_id" value="{{spot.spot_id}}" readonly>
  </div>
    <div class="col-12">
    <label for="lot_id" class="form-label my-label">Lot ID</label>
    <input type="text" class="form-control my-input" id="lot_id" value="{{spot.lot_id}}">
  </div>
  <div class="col-12">
    <label for="user_id" class="form-label my-label">User ID</label>
    <input type="text" class="form-control my-input" id="user_id" value="{{user.user_id}}" readonly>
  </div>
  <div class="col-12">
    <label for="price" class="form-label my-label">Price per Hour</label>
    <input type="text" class="form-control my-input" id="price" value="{{lot.price_per_hr}}" readonly>
  </div>
  <div class="col-12">
    <label for="vno" class="form-label my-label">Vehicle Number</label>
    <input type="text" class="form-control my-input" id="vno" name="vno" placeholder="your vehicle number" required>
  </div>
  <div class="col-12">
    <button type="submit" class="btn my-btn">Book</button>
    <a href="{{url_for('home')}}" class="btn my-btn">Cancel</a>
  </div>
</form>
</div>
{% endblock %}