{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% include "user/user_nav.html" with context %}


<div class="container my-5">
{%if current|length != 0 %}
  <h1 class="display-6 my-display my-4">My Current Booking</h1>
    <table class="table my-table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Lot ID</th>
      <th scope="col">Start Time</th>
      <th scope="col">Vehicle no.</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>      
    </tr>
  </thead>
  <tbody>
    {% for record in current %}
    <tr>
      <td scope="row">{{record.r_id}}</td>
      <td>{{record.lot_id}}</td>
      <td>{{record.start_time.strftime('%d-%m-%Y %H:%M:%S')}}</td>
      <td>{{record.vehicle_num}}</td>
      <td>{{record.price_per_hr}}</td>
      <td>
          <a class="btn my-btn" href="{{url_for('release_spot',lot_id = record.lot_id, spot_id = record.spot_id)}}">Release</a>
      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
   {% endif %}




  <h1 class="display-6 my-display mt-5 mb-3">Parking Lots</h1>
{%include 'search_bar.html' with context %}
<div class="row g-3 mb-5">
    {% if lots|length == 0 %}
    <h3 class=" my-display my-5 text-center">No Lots Available</h3>
    {% else %}
    {% for lot in lots %}
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="lot-card h-100 p-3">
            <div class="lot-details">
            {% if lot.price_per_hr == 0 %}
             <small class="d-block mb-3 price"><i class="fa-solid fa-indian-rupee-sign" style="color: #ffffe3;"></i> FREE </small>
            {% else %}
             <small class="d-block mb-3 price"><i class="fa-solid fa-indian-rupee-sign" style="color: #ffffe3;"></i>{{lot.price_per_hr}} /hr </small>
            {% endif %}
            {% if lot.is_shaded == true %}
             <small class="d-block mb-3 shaded"><i class="fa-solid fa-umbrella" style="color: #ffffe3;"></i> Shaded </small>
            {% else %}
             <small class="d-block mb-3 open"><i class="fa-solid fa-cloud-sun-rain" style="color: #ffffe3;"></i> Open </small>
            {% endif %}
            </div>
            
             <h5 class="text-center">Parking Lot #{{lot.lot_id}}</h5>
             <small class="d-block mb-3 loc border"><i class="fa-solid fa-location-dot" style="color: #ffffe3;"></i> {{lot.prime_loc}}</small>
            <div class="text-center mb-2 lot-btn">
                <a class="btn my-btn" href="{{url_for('book_lot', lot_id = lot.lot_id)}}">Book</a>
                <a class="btn my-btn mx-1" href="{{ url_for('view_lot', lot_id = lot.lot_id) }}">View</a>
            </div>
            <div class="row row-cols-5 gx-1 gy-1">
                {% for spot in lot.spots %}
                <div class="col text-center">
                      {% if spot.status == 'a' %}
                        <span class="spot a d-block m-1"><i class="fa-solid fa-square-parking" style="color: #ffffe3;"></i></span>
                      {% else %}
                        <span class="spot o d-block m-1"><i class="fa-solid fa-square-parking" style="color: #ffffe3;"></i></span>
                      {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

</div>
{% endblock %}

